@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
  :root {
    --background: oklch(0.94 0.02 345.70);
    --foreground: oklch(0.47 0 0);
    --card: oklch(0.95 0.05 86.89);
    --card-foreground: oklch(0.47 0 0);
    --popover: oklch(1.00 0 0);
    --popover-foreground: oklch(0.47 0 0);
    --primary: oklch(0.62 0.18 348.14);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.81 0.07 198.19);
    --secondary-foreground: oklch(0.32 0 0);
    --muted: oklch(0.88 0.05 212.10);
    --muted-foreground: oklch(0.58 0 0);
    --accent: oklch(0.92 0.08 87.67);
    --accent-foreground: oklch(0.32 0 0);
    --destructive: oklch(0.71 0.17 21.96);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.62 0.18 348.14);
    --input: oklch(0.92 0 0);
    --ring: oklch(0.70 0.16 350.75);
    --chart-1: oklch(0.70 0.16 350.75);
    --chart-2: oklch(0.82 0.08 212.09);
    --chart-3: oklch(0.92 0.08 87.67);
    --chart-4: oklch(0.80 0.11 348.18);
    --chart-5: oklch(0.62 0.19 353.91);
    --radius: 0.4rem;
    --sidebar: oklch(0.91 0.04 343.09);
    --sidebar-foreground: oklch(0.32 0 0);
    --sidebar-primary: oklch(0.66 0.21 354.31);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.82 0.11 346.02);
    --sidebar-accent-foreground: oklch(0.32 0 0);
    --sidebar-border: oklch(0.95 0.03 307.17);
    --sidebar-ring: oklch(0.66 0.21 354.31);
    --font-sans: Poppins, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: Fira Code, monospace;
    --shadow-color: hsl(325.78 58.18% 56.86% / 0.5);
    --shadow-opacity: 1.0;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-offset-x: 3px;
    --shadow-offset-y: 3px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 0.50);
    --shadow-xs: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 0.50);
    --shadow-sm: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1.00), 3px 1px 2px -1px hsl(325.78 58.18% 56.86% / 1.00);
    --shadow: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1.00), 3px 1px 2px -1px hsl(325.78 58.18% 56.86% / 1.00);
    --shadow-md: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1.00), 3px 2px 4px -1px hsl(325.78 58.18% 56.86% / 1.00);
    --shadow-lg: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1.00), 3px 4px 6px -1px hsl(325.78 58.18% 56.86% / 1.00);
    --shadow-xl: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 1.00), 3px 8px 10px -1px hsl(325.78 58.18% 56.86% / 1.00);
    --shadow-2xl: 3px 3px 0px 0px hsl(325.78 58.18% 56.86% / 2.50);
    --tracking-normal: 0em;
  }
  .dark {
    --background: oklch(0.25 0.03 234.16);
    --foreground: oklch(0.93 0.02 349.08);
    --card: oklch(0.29 0.03 233.54);
    --card-foreground: oklch(0.93 0.02 349.08);
    --popover: oklch(0.29 0.03 233.54);
    --popover-foreground: oklch(0.93 0.02 349.08);
    --primary: oklch(0.92 0.08 87.67);
    --primary-foreground: oklch(0.25 0.03 234.16);
    --secondary: oklch(0.78 0.08 4.13);
    --secondary-foreground: oklch(0.25 0.03 234.16);
    --muted: oklch(0.27 0.01 255.58);
    --muted-foreground: oklch(0.78 0.08 4.13);
    --accent: oklch(0.67 0.10 356.98);
    --accent-foreground: oklch(0.93 0.02 349.08);
    --destructive: oklch(0.67 0.18 350.36);
    --destructive-foreground: oklch(0.25 0.03 234.16);
    --border: oklch(0.39 0.04 242.22);
    --input: oklch(0.31 0.03 232.00);
    --ring: oklch(0.70 0.09 201.87);
    --chart-1: oklch(0.70 0.09 201.87);
    --chart-2: oklch(0.78 0.08 4.13);
    --chart-3: oklch(0.67 0.10 356.98);
    --chart-4: oklch(0.44 0.07 217.08);
    --chart-5: oklch(0.27 0.01 255.58);
    --radius: 0.4rem;
    --sidebar: oklch(0.23 0.03 235.97);
    --sidebar-foreground: oklch(0.97 0.00 264.54);
    --sidebar-primary: oklch(0.66 0.21 354.31);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.82 0.11 346.02);
    --sidebar-accent-foreground: oklch(0.28 0.03 256.85);
    --sidebar-border: oklch(0.37 0.03 259.73);
    --sidebar-ring: oklch(0.66 0.21 354.31);
    --font-sans: Poppins, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: Fira Code, monospace;
    --shadow-color: #324859;
    --shadow-opacity: 1.0;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-offset-x: 3px;
    --shadow-offset-y: 3px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 0.50);
    --shadow-xs: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 0.50);
    --shadow-sm: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1.00), 3px 1px 2px -1px hsl(206.15 28.06% 27.25% / 1.00);
    --shadow: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1.00), 3px 1px 2px -1px hsl(206.15 28.06% 27.25% / 1.00);
    --shadow-md: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1.00), 3px 2px 4px -1px hsl(206.15 28.06% 27.25% / 1.00);
    --shadow-lg: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1.00), 3px 4px 6px -1px hsl(206.15 28.06% 27.25% / 1.00);
    --shadow-xl: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1.00), 3px 8px 10px -1px hsl(206.15 28.06% 27.25% / 1.00);
    --shadow-2xl: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 2.50);
  }
  .theme {
    --font-sans: Poppins, sans-serif;
    --font-mono: Fira Code, monospace;
    --font-serif: Lora, serif;
    --radius: 0.4rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer components {
  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}